.App-title
    font-size: 1.5em
    text-align: center

.App-header
  background-color: #222
  // height: 150px
  padding: 20px
  color: white

// .App-logo
  // animation: App-logo-spin infinite 20s linear
  // height: 80px

// @keyframes App-logo-spin
//   from { transform: rotate(0deg) }
//   to { transform: rotate(360deg) }

.fetch-title
  display: inline

.fetch-input
  display: inline

.repoList
  padding-left: 10px

.gitImage
  height: 25px
  padding-right: 10px

.repo
  display: flex
  align-items: center
  flex-direction: row

.repoName
  padding-left: 10px

.failed
  color: red
